<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.rk.mapper.MqDedupMapper">
  <resultMap id="BaseResultMap" type="com.wl.rk.entity.MqDedup">
    <result column="application_name" jdbcType="VARCHAR" property="applicationName" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="msg_uniq_key" jdbcType="VARCHAR" property="msgUniqKey" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="expire_time" jdbcType="BIGINT" property="expireTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wl.rk.entity.MqDedup">
    insert into t_rocketmq_dedup (application_name, topic, tag, 
      msg_uniq_key, `status`, expire_time
      )
    values (#{applicationName,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{msgUniqKey,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{expireTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl.rk.entity.MqDedup">
    insert into t_rocketmq_dedup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationName != null">
        application_name,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="msgUniqKey != null">
        msg_uniq_key,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationName != null">
        #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="msgUniqKey != null">
        #{msgUniqKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>